@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

:root {
  --clr-primary: rgb(54, 112, 199);
  --clr-secondary: #5175b4;
  --clr-dark: #333;
  --clr-warning: rgb(99, 36, 36);
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

//body

body {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.5rem;
  background: linear-gradient(rgba(109, 132, 197, 0.8), rgba(0, 0, 0, 0.9)),
    url("./assets/images/2719DF3D-BFD9-4A7D-BFA8-ED936DE0675E.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--clr-light);

  display: grid;
  grid:
    "header header header" auto
    "clock  clock  clock"
    "...... lists  active" auto /
    1fr minmax(100px, 300px) minmax(200px, 600px) 1fr;

  @media screen and (max-width: 1024px) {
    margin: 0;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 1.5rem;
    background: linear-gradient(rgba(109, 132, 197, 0.8), rgba(0, 0, 0, 0.9)),
      url("./assets/images/2719DF3D-BFD9-4A7D-BFA8-ED936DE0675E.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--clr-light);

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 4fr;

    display: grid;
    grid:
      "header header header"
      "clock  clock  clock"
      "...... lists  ....."
      ".....  active ......";
  }
}

//HEADER

.title {
  grid-area: header;
  text-align: center;
  font-size: calc(5vw + 2rem);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.1);
  margin: -0.3em 0 0.5em;
  letter-spacing: 0.3em;
}
//HAEDER / clock
.title span {
  grid-area: clock;
  color: white;
  font-size: calc(1vw + 2rem);
  letter-spacing: 0.3em;
  width: 40px;
  text-align: center;
  display: inline-block;
}

// My Projects

.all-tasks {
  grid-area: lists;
  color: white;

  @media screen and (max-width: 1024px) {
    margin-bottom: 30px;
  }
}

.task-list {
  font-size: 1.2rem;
  line-height: 1.7;
  list-style: circle;
  padding-left: 1.1em;
  color: white;
}

.list-name {
  cursor: pointer;
}

.list-name:hover {
  opacity: 0.7;
}

form {
  display: flex;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
}

.btn.create {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 0.25em;
  transition: opacity 250ms ease-in;
}

.btn.create:hover {
  opacity: 0.7;
}
.new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  outline: none;
  padding: 0.25em;

  transition: border-bottom 150ms ease-in;
  order: 2;
}

.new::placeholder {
  opacity: 0.4;
}

.new:focus {
  border-bottom-width: 3px;
}

.new:focus::placeholder {
  opacity: 0.15;
}

.new.list {
  font-size: 1.1rem;
}

.new.task {
  margin-bottom: 0;
}

.active-list {
  font-weight: 700;
}

.todo-list {
  --spacer: 2rem;

  grid-area: active;
  background: var(--clr-light);
  color: white;
}

.todo-header {
  padding: var(--spacer);
  background: var(--clr-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.8);
  border-left: 2px solid white;
  border-top: 2px solid white;
}

.list-title {
  margin: 0 1em 0 0;
  font-size: 1.5rem;
}

.task-count {
  margin: 0;
  font-size: 0.8rem;
}

.todo-body {
  padding: var(--spacer);
  position: relative;
  border-left: 2px solid white;
}

.new-task-creator .create {
  color: var(--clr-primary);
}

//opacity checkbox
[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.task label {
  //line as long task
  display: inline-flex;
  align-items: center;
  position: relative;
}

.task {
  position: relative;
  margin-bottom: 1.25em;
}
//underline
.task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -0.5em;
  height: 1px;
  background: currentColor;
  opacity: 0.1;
}
// custom checkbox
.custom-checkbox {
  --size: 0.75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
  transform: scale(1.2);
  color: var(--clr-primary);
}

[type="checkbox"]:checked + label .custom-checkbox {
  background: var(--clr-primary);
  border-color: var(--clr-primary);
  box-shadow: inset 0 0 0px 2px white;
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
}

// checked line
.task label::after {
  content: "";
  position: absolute;
  left: 1.5em;
  right: 0;
  top: calc(50% + 1.5px);
  height: 3px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 150ms ease-in-out;
}

//checked line, when checked
[type="checkbox"]:checked + label::after {
  transform: scaleX(1);
  transform-origin: left;
}

.delete-stuff {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -35px;
  color: var(--clr-light);
}

.btn.delete {
  opacity: 0.7;
  font-size: 1rem;
  transition: color 200ms;
}

.btn.delete.do:hover {
  color: #9ef01a;
}

.btn.delete.dt:hover {
  color: #fe6d73;
}
